## Kütüphaneleri import et.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

## Veri setini yükle ve okut.

In [12]:
df = sns.load_dataset("diamonds")

In [13]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

## Apply fonksiyonunu kullanarak örnekler yap.

In [18]:
buyuk_harf = lambda x: x.upper()

In [19]:
df["cut"].apply(buyuk_harf)

0            IDEAL
1          PREMIUM
2             GOOD
3          PREMIUM
4             GOOD
           ...
53935        IDEAL
53936         GOOD
53937    VERY GOOD
53938      PREMIUM
53939        IDEAL
Name: cut, Length: 53940, dtype: category
Categories (5, object): ['IDEAL', 'PREMIUM', 'VERY GOOD', 'GOOD', 'FAIR']

In [22]:
kucuk_harf = lambda x: x.lower()

In [23]:
df["color"].apply(kucuk_harf)

0        e
1        e
2        e
3        i
4        j
        ..
53935    d
53936    d
53937    d
53938    h
53939    d
Name: color, Length: 53940, dtype: category
Categories (7, object): ['d', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
ortalama = lambda x: x.mean()

In [25]:
df[["depth","table"]].apply(ortalama)

depth    61.749405
table    57.457184
dtype: float64

In [31]:
isfound = lambda x: x.startswith('I')

In [34]:
df[df["cut"].apply(isfound)]

       carat    cut color clarity  depth  table  price     x     y     z
0       0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11      0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13      0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16      0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39      0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
53925   0.79  Ideal     I     SI1   61.6   56.0   2756  5.95  5.97  3.67
53926   0.71  Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53929   0.71  Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53
53935   0.72  Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53939   0.75  Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[21551 rows x 10 columns]

In [37]:
sayim = lambda x: x.count('E')

In [41]:
df["color"].apply(sayim).sum()

9797

In [43]:
df.groupby("color").get_group("E")

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
8       0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
14      0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53926   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53928   0.79    Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49

[9797 rows x 10 columns]